/* Global attributes */
#root,
html,
body {
  height: 100%;
}

#root {
  --headerHeight: 80px;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Header */
.App-header {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;

  align-items: center;
  justify-content: center;
  height: var(--headerHeight);
}

.App-header P {
  margin: 0px;
}

.App-header h1 {
  margin: 0px;
}

/* Body */
.App-body {
  background-color: yellow;
  display: flex;
  min-height: calc(100% - var(--headerHeight));
}

/* Nav bar */
.nav-bar {
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: aquamarine;
  width: 160px;
}

.playlistTitles {
  border: 0;
  background-color: transparent;
  color: blue;
}
.playlistTitles:hover {
  color: red;
}

/* Playlist Page */
.content {
  background-color: pink;
  width: 100%;
  display: block;
  overflow: auto;
}

/* Debug */
div {
  outline: 2px solid red;
}
