/* Global attributes */
#root,
html,
body {
  height: 100%;
}

#root {
  --bucketPadding: 20px;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

/* Body */
.App-body {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Header */

/* Playlist Page */
.content {
  width: 100%;
  display: inline-block;
}

.superBucket {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bucket {
  width: 275px;
  margin: 6px;
  padding: var(--bucketPadding);
  height: fit-content;
  color: white;
}

.track {
  width: auto;
  margin: auto;
  white-space: nowrap;
  overflow: hidden;
  background-color: rgb(200, 200, 200, 0.5);
  outline: 1px solid white;
  text-align: left;
}

.track > img {
  float: left;
}

.track > p {
  margin: 0px;
  margin-left: 5px;
  display: inline;
}

/* Debug */
div {
  /* outline: 2px solid red; */
}
