/* Global attributes */
#root,
html,
body {
  height: 100%;
}

#root {
  --headerHeight: 90px;
  --navHeaderHeight: 111.4px;
  --navBarWidth: 300px;
  --appPadding: 0px;

  --contentBackground: pink;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: var(--appPadding);
}

/* Nav bar */

/* required to center content since real nav bar has fixed position */
.behind-nav-bar {
  width: var(--navBarWidth);
}

.nav-bar {
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: aquamarine;
  width: var(--navBarWidth);
  height: calc(100vh - 2 * var(--appPadding));
  margin-top: var(--appPadding);
  /* overflow: hidden; */
}

.nav-header {
  background-color: gray;
  height: var(--navHeaderHeight);
}

.nav-header > p {
  margin: 0;
}

.nav-header > button {
  display: block;
  margin: auto;
}

.allPlaylists {
  height: calc(100% - var(--navHeaderHeight) - 0px);
  overflow: scroll;
  overflow-x: hidden;
}

.playlistButtons {
  border: 0;
  background-color: transparent;
  color: blue;
}
.playlistButtons:hover {
  color: red;
}

/* Body */
.App-body {
  background-color: yellow;
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Header */
.App-header {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;

  align-items: center;
  justify-content: center;
  min-height: var(--headerHeight);
  overflow: hidden;
}

.App-header P {
  margin: 0px;
}

.App-header h1 {
  margin: 0px;
}

/* Playlist Page */
.content {
  background-color: var(--contentBackground);
  width: 100%;
  display: inline-block;
  min-height: calc(100% - var(--headerHeight));
}

.superContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--contentBackground);
}

.container {
  background-color: #333;
  width: 227px;
  margin: 6px;
  padding: 20px;
  height: fit-content;
  /* min-height: 100px; */
}

.track {
  width: auto;
  margin: auto;
  white-space: nowrap;
  overflow: hidden;
  background-color: rgb(200, 200, 200, 0.5);
  outline: 1px solid white;
  text-align: left;
}

.track > button {
  float: left;
}

.track > img {
  float: left;
}

.track > p {
  margin: 0px;
  margin-left: 5px;
  display: inline;
}

/* Debug */
div {
  /* outline: 2px solid red; */
}
